In [1]:
#!pip install geopy
#!pip install python-google-places
%matplotlib inline
import pandas as pd
from datetime import datetime
from geopy.distance import geodesic
import geopy.distance
from geopy.distance import vincenty as VIN
from geopy.distance import great_circle
from googleplaces import GooglePlaces, types, lang
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import pylab as plot
from sklearn.linear_model import LinearRegression
from sklearn import datasets
from sklearn import preprocessing
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import statsmodels.formula.api as sm



data = pd.read_csv("unique_mls_db_GIT.csv")
cpi=pd.read_csv("CPI.csv")

#coordinates of major go train stations in mississauga and nearby cities: Lisgar, Meadowvale, Streesville, _
#Erindale, Cocksville, Dixie, Kipling, Clarkson, Port Credit, and Long Branch

go_station_msga=[[43.5905809,-79.788362],[43.5976,-79.75369999999998],
                 [43.5762,-79.70910000000003],[43.5670973,-79.6689102],
                 [43.5819,-79.62369999999998],[43.607605,-79.5776749],
                 [43.6357039,-79.5372283],[43.51251816552179,-79.63435649871826],
                 [43.5555,-79.5874],[43.59133291164543,-79.54609036445617]]

#coordinates of major hospitals in mississauga

hospitals_msga = [[43.5713, -79.6084],[43.5594, -79.7033],[43.4507, -79.7639],[43.4962539,-79.8716229]]

In [2]:
data.head()

,mlsno,stno,stname,city,area,soldprice,solddate,type,style,bdrm,wshrm,latitude,longitude,house_condo,aptno,address
0,E3853125,46,Hinsley,Ajax,Northeast Ajax,595000,6/30/2017,Semi-Detached,2-Storey,3,3,43.891599,-79.028612,house,NaN,"46 Hinsley Cres, Ajax"
1,E3833751,508,Norfolk,Pickering,Amberlea,677000,6/30/2017,Detached,2-Storey,3,3,43.827530,-79.123617,house,NaN,"508 Norfolk Sq, Pickering"
2,N3788507,36,Innisvale,Markham,Cornell,725000,6/30/2017,Semi-Detached,2-Storey,4,3,43.900148,-79.238976,house,NaN,"36 Innisvale Dr, Markham"
3,E3855735,14,Shudell,Toronto E01,Blake-Jones,755000,6/30/2017,Semi-Detached,2-Storey,2,2,43.675379,-79.337634,house,NaN,"14 Shudell Ave, Toronto"
4,W3854388,2500,Hargood,Mississauga,Streetsville,1050000,6/30/2017,Detached,2-Storey,4,3,43.576264,-79.729552,house,NaN,"2500 Hargood Pl, Mississauga"

In [3]:
data.describe()

,soldprice,bdrm,wshrm,latitude,longitude
count,1.955240e+05,195524.000000,195524.000000,195524.000000,195524.000000
mean,7.656679e+05,2.830855,2.653142,43.727473,-79.468918
std,5.719666e+05,1.097000,1.238492,0.136501,0.233164
min,0.000000e+00,0.000000,0.000000,43.288120,-80.127424
25%,4.390000e+05,2.000000,2.000000,43.642452,-79.650354
50%,6.310000e+05,3.000000,2.000000,43.721190,-79.446030
75%,8.880000e+05,4.000000,3.000000,43.822972,-79.345323
max,2.588889e+07,9.000000,35.000000,44.155510,-78.687984

In [4]:
data_msga = data.loc[data['city']=='Mississauga']
data_msga.head()

,mlsno,stno,stname,city,area,soldprice,solddate,type,style,bdrm,wshrm,latitude,longitude,house_condo,aptno,address
4,W3854388,2500,Hargood,Mississauga,Streetsville,1050000,6/30/2017,Detached,2-Storey,4,3,43.576264,-79.729552,house,NaN,"2500 Hargood Pl, Mississauga"
38,W3817888,551,Cavell,Mississauga,Cooksville,668000,6/29/2017,Semi-Detached,Bungalow-Raised,3,2,43.563612,-79.622475,house,NaN,"551 Cavell Dr, Mississauga"
39,W3850685,3582,Birchmeadow,Mississauga,Applewood,670000,6/29/2017,Semi-Detached,Bungalow-Raised,3,2,43.612874,-79.607933,house,NaN,"3582 Birchmeadow Cres, Mississauga"
40,W3848786,4186,Uxbridge,Mississauga,Rathwood,804500,6/29/2017,Detached,2-Storey,3,3,43.616948,-79.613434,house,NaN,"4186 Uxbridge Lane, Mississauga"
42,W3835920,4597,Centretown,Mississauga,Hurontario,889500,6/29/2017,Semi-Detached,2-Storey,4,4,43.595464,-79.664838,house,NaN,"4597 Centretown Way, Mississauga"

In [5]:
def classifyHouseFees():
    
    global data_msga
    house_fees = {'house':1, 'condo':2}
    data_msga['house_fees'] = data_msga['house_condo'].map(house_fees)

In [6]:
def mapHouseArea():
    
    global data_msga
    house_area = {'Streetsville':1, 'Cooksville':2,'Applewood':3,'Rathwood':4,'Hurontario':5,'Central Erin Mills':6,'Mineola':7,'Clarkson':8,
                 'City Centre':9,'Meadowvale':10,'Malton':11,'Erin Mills':12,'Churchill Meadows':13,'Lisgar':14,'Port Credit':15,'East Credit':16,
                 'Creditview':17,'Meadowvale Village':18,'Lorne Park':19,'Fairview':20,'Mississauga Valleys':21,
                 'Erindale':22,'Sheridan':23,'Dixie':24,'Northeast':25,'Mavis-Erindale':26,'Gateway':27,
                 'Meadowvale Business Park':28,'Sheridan Park':29,'Southdown':30,'Port Credi':31,'City Centr':32,
                  'Lakeview':33,'Huttonville':34}    
    
    data_msga['house_area'] = data_msga['area'].map(house_area)

In [7]:
def adjustSoldPrice():
    
    global data_msga
    #add soldyear, soldmonth columns
    data_msga.loc[:,['solddate']] = pd.to_datetime(data_msga['solddate'])
    data_msga.insert(len(data_msga.columns),column='soldyear',value=pd.DatetimeIndex(data_msga['solddate']).year)
    data_msga.insert(len(data_msga.columns),column='soldmonth',value=pd.DatetimeIndex(data_msga['solddate']).month)

    #merge with CPI file and convert nominal sold prices to real sold prices with base case = 2015-07-31 

    cpi_targetrange=cpi[(pd.to_datetime(cpi['Date'])>=datetime(2015,7,1)) & (pd.to_datetime(cpi['Date'])<=datetime(2017,6,30))]
    cpi_targetrange.insert(len(cpi_targetrange.columns),column='soldyear',
                           value=pd.DatetimeIndex(cpi_targetrange['Date']).year)
    cpi_targetrange.insert(len(cpi_targetrange.columns),column='soldmonth',
                           value=pd.DatetimeIndex(cpi_targetrange['Date']).month)
    data_msga=pd.merge(cpi_targetrange, data_msga, on=['soldyear','soldmonth'], how='outer')
    cpibase=float(cpi_targetrange['PX_LAST'][pd.to_datetime(cpi_targetrange['Date'])==datetime(2015,7,31)])
    data_msga.insert(len(data_msga.columns),column='cpibase',value=cpibase)
    data_msga.insert(len(data_msga.columns),column='adjustedSoldPrice',value=
                    round(data_msga['soldprice']*data_msga['cpibase']/data_msga['PX_LAST'],0))

In [8]:
#take a house's coordinates and calculate minimum distance of a house to GO stations 
def closestGoHospital():
    global data_msga
    
    data_msga_coordinate = data_msga[['latitude','longitude']].values
    mindist_GO = []
    mindist_Hospital = []
    for i in range(len(data_msga_coordinate)):
        tempGO = []
        tempHospital = []
        for j in range(len(go_station_msga)):
            tempGO.append(geodesic(go_station_msga[j], data_msga_coordinate[i]).meters)
        mindist_GO.append(round(min(tempGO), 2))

        for j in range(len(hospitals_msga)):
            tempHospital.append(geodesic(hospitals_msga[j], data_msga_coordinate[i]).meters)
        mindist_Hospital.append(round(min(tempHospital),2))
        
    #add the minimum distance to the dataframe

    data_msga.insert(len(data_msga.columns),column='mindist_GO',value=mindist_GO)
    data_msga.insert(len(data_msga.columns),column='mindist_Hospital',value=mindist_Hospital)

In [9]:
def classifySeasons():
    
    global data_msga
    data_msga['season'] = 0
    #summer season is from June to August
    data_msga.loc[(data_msga.soldmonth<=8 ) & (data_msga.soldmonth >=6),'season']= 1
    
    #shoulder season from Aprint to May and September to November
    data_msga.loc[(data_msga.soldmonth<=11 ) & (data_msga.soldmonth >=9) & (data_msga.soldmonth >=4) & (data_msga.soldmonth <=5),'season']= 2
    
    #winter season from December to March
    data_msga.loc[(data_msga.soldmonth==12 ) | (data_msga.soldmonth >=1) & (data_msga.soldmonth <=3),'season']= 3

In [10]:
def preProcessingFunction():
    global data_msga
    data_msga['normalizedMinDistGO'] = preprocessing.scale(data_msga.loc[:,['mindist_GO']])
    data_msga['normalizedMinDistHospital'] = preprocessing.scale(data_msga.loc[:,['mindist_Hospital']])

In [11]:
def houseType():
    
    #Categorize house types: 1 = town house, 2 = detached, 3 = semi-detached, 4 = condo; 
    #Drop the remaining house types including vacant land, link house, mobile trailer etc. 
    global data_msga
    house_types = {'Att/Row/Twnhouse':1, 'Condo Townhouse':1,'Det W/Com Elements':2,'Detached':2,'Semi-Det Condo':3,
               'Semi-Detached':3,'Comm Element Condo':4,'Condo Ap':4,'Condo Apartment':4,'Condo Apt':4,
               'Condo To':4,'Det Condo':4,'Leasehold Condo':4,}

    data_msga['house_type'] = data_msga['type'].map(house_types)
    data_msga=data_msga.dropna(subset=['house_type'])

In [12]:
classifyHouseFees()
mapHouseArea()    
adjustSoldPrice()
closestGoHospital()
classifySeasons()
houseType()
preProcessingFunction()

C:\Users\Khaled\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Khaled\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Khaled\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [13]:
#clean unwanted coloumns
data_msga.drop(['mindist_GO','mindist_Hospital','latitude','longitude','Date','area','soldyear','house_condo','soldmonth','city','stno','stname','PX_LAST','style','cpibase','aptno','mlsno','type','address','solddate','soldprice'], axis=1,inplace = True)

In [14]:
data_msga

,bdrm,wshrm,house_fees,house_area,adjustedSoldPrice,season,house_type,normalizedMinDistGO,normalizedMinDistHospital
0,4,3,1,1,1025038.0,1,2.0,-0.469418,-0.558878
1,3,2,1,2,652120.0,1,3.0,-0.312419,-1.001238
2,3,2,1,3,654072.0,1,3.0,-0.116247,0.003417
3,3,3,1,4,785375.0,1,2.0,0.112056,0.150709
4,4,4,1,5,868354.0,1,3.0,0.153544,0.145096
5,4,4,1,5,883485.0,1,2.0,0.582249,0.383475
6,4,3,1,6,1034801.0,1,2.0,-0.869622,-0.842960
7,4,4,1,5,1029919.0,1,2.0,0.644742,0.443128
8,2,2,1,7,1054325.0,1,2.0,-0.390380,-0.626368
9,4,4,1,6,1425291.0,1,2.0,-0.458998,-1.133434
10,3,2,1,8,702883.0,1,3.0,-0.485782,0.777275
11,1,1,2,3,229413.0,1,4.0,-0.756957,-0.026635
12,2,1,2,5,346561.0,1,1.0,0.943224,0.685767
13,1,2,2,9,375359.0,1,4.0,-0.272224,-0.260265
14,3,1,2,10,429540.0,1,1.0,-0.497019,0.306513
15,3,2,2,7,595596.0,1,1.0,-0.824975,-0.886250
16,3,4,1,11,627822.0,1,3.0,4.143036,3.867014
17,5,4,1,4,1317906.0,1,2.0,0.305360,0.941307
18,3,2,1,12,610142.0,1,3.0,0.378795,-0.825032
19,3,3,1,13,644310.0,1,1.0,0.738287,-0.419153
20,3,3,1,14,656025.0,1,3.0,-0.709049,0.716026
21,3,2,1,12,646750.0,1,3.0,0.287785,-0.456906
22,3,4,1,13,727289.0,1,1.0,0.721291,-0.240842
23,2,2,1,15,1122661.0,1,2.0,-0.791455,-0.443431
24,4,4,1,16,1518033.0,1,2.0,-0.514159,-0.808591
25,4,2,1,8,764386.0,1,2.0,-0.857468,0.630979
26,4,4,1,12,912772.0,1,2.0,0.834120,-0.169009
27,3,3,1,8,1050311.0,1,2.0,-0.362015,0.364051
28,1,1,2,5,273344.0,1,4.0,0.074104,0.022717
29,2,2,2,5,369990.0,1,4.0,0.074104,0.022717
...,...,...,...,...,...,...,...,...,...
22442,2,2,2,9,293000.0,1,4.0,-0.375319,-0.344869
22443,2,2,2,6,283000.0,1,4.0,0.091613,-0.970967
22444,4,4,2,22,474000.0,1,1.0,-0.168439,-0.401338
22445,3,3,2,15,1605000.0,1,1.0,-0.877742,-0.507367
22446,4,2,2,22,370000.0,1,1.0,-0.143278,-0.570611
22447,3,3,1,2,785000.0,1,2.0,-0.297887,-1.086489
22448,2,2,2,11,210000.0,1,4.0,4.103835,3.881611
22449,3,2,1,33,682500.0,1,2.0,-0.667310,-0.286467
22450,3,3,2,12,385000.0,1,1.0,1.062415,-0.302433
22451,4,3,1,33,900000.0,1,2.0,-0.239263,-0.410967
22452,3,4,1,14,512000.0,1,3.0,-0.815955,0.972517
22453,4,3,1,14,725000.0,1,2.0,-0.961943,0.885742
22454,3,3,2,16,415000.0,1,1.0,-0.531221,-0.739599
22455,2,2,2,9,256500.0,1,4.0,-0.588872,-0.483987
22456,2,2,2,21,282800.0,1,4.0,-0.433700,-0.424306
22457,3,4,2,12,510000.0,1,1.0,-0.330676,-0.737556
22458,4,5,1,13,748000.0,1,2.0,0.319461,-0.721995
22459,3,3,1,13,562500.0,1,1.0,0.287128,-0.284559
22460,4,4,1,1,670000.0,1,2.0,-0.339741,-0.267753
22461,4,3,1,16,680000.0,1,2.0,-0.330302,-0.246309
22462,3,3,1,13,495000.0,1,1.0,0.003075,-0.486724
22463,3,2,1,10,534000.0,1,3.0,-0.306266,-0.174213
22464,3,3,1,16,699900.0,1,2.0,0.154694,-0.004377
22465,4,4,1,14,750000.0,1,2.0,0.295014,-0.188734
22466,4,4,1,12,917000.0,1,2.0,0.795803,-0.549014
22467,4,4,1,6,862000.0,1,2.0,-0.455552,-0.683343
22468,1,1,2,5,265000.0,1,4.0,0.326496,0.216090
22469,3,3,1,13,494000.0,1,1.0,0.696142,-0.069337
22470,3,2,1,33,670000.0,1,2.0,-0.519561,0.166719
22471,3,4,1,20,596000.0,1,3.0,-0.477945,-0.597187

In [15]:
#Check if any value in the dataframe is Null
data_msga.isnull().values.any()

False

In [16]:
col = ['adjustedSoldPrice', 'mindist_GO', 'mindist_Hospital', 'season', 'house_area', 'house_type', 'house_fees', 'bdrm','wshrm']
sns.set(style='ticks')
sns.pairplot(data_msga[col], size=3, kind='reg')

KeyError: "['mindist_GO' 'mindist_Hospital'] not in index"

In [ ]:
def linearRegressionModel():
    X = data_msga[['normalizedMinDistGO','normalizedMinDistHospital','season','house_area','house_type','house_fees','bdrm','wshrm']]

    y = data_msga['adjustedSoldPrice']


    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, train_size = 0.7)

    #Create an instance of a LinearRegression() model named lm.
    lm = LinearRegression(fit_intercept=False)

    #Train/fit lm on the training data.
    lm.fit(X_train,y_train)

    #print intercept
    print("The intercept of the model  ")
    print(lm.intercept_)

    
    #Print out the coefficients of the model
    print("The coefficients of the model  ")
    print(lm.coef_)

    #print R^2 
    print("R Squared of the model is  ")
    print(lm.score(X_train,y_train))

    #evaluating performance by predicting off the test values
    predictions = lm.predict(X_test)

    #scatterplot of the real test values versus the predicted values
    plt.scatter(y_test,predictions)
    plt.xlabel('Y Test')
    plt.ylabel('Predicted Y')
    plt.show()


    #evaluate our model performance by calculating the residual sum of squares and the explained variance score (R^2)
    print('MAPE :'," ", metrics.mean_absolute_error(y_test,predictions))

In [ ]:
linearRegressionModel()

In [ ]:
y = data_msga['adjustedSoldPrice']
data_msga_final = data_msga[['normalizedMinDistGO','normalizedMinDistHospital','season','house_type','house_fees','house_area','wshrm','bdrm']]
x=data_msga_final.values 
result = sm.OLS(y,x).fit()
result.summary()